.App {
  text-align: center;
  min-height: 100vh;
  min-width: 99vw;
  background: url('./background.png');
  background-color: #020912;
  background-size: cover;
  color: white;
}

.sign-field {
  margin: 2em;
}

.home-btn {
  border-radius: 20em;
  background-color: transparent;
  color: white;
  font-size: 1.3em;
  margin: 0.7em;
  padding: 0.8em;
  width: 14em;
  border-style: solid;
  font-family: 'Quicksand';
  text-align: center;
}

.next-apply-btn {
  font-family: 'Quicksand';
  font-size: 1.3em;
  border-radius: 2em;
}

.page-bord {
  margin: 7em;
  text-align: left;
}

.page-bord-centre {
  margin: 1em 7em 1em 7em;
}

.hPage-titles {
  margin-top: 10em;
  margin-bottom: 7em;
}

.mtk-logo {
  border-radius: 0.2em;
}

::placeholder {
  text-align: center;
}

.navbar-title {
  color: white;
  font-size: 1.3em;
  margin-top: 0.8em;
  margin-right: 2.5em;
  font-family: 'Quicksand';
}

.micro-buttons-already-stated {
  width: 3em;
  background-color: #dd2ac5;
}

.micro-buttons {
  width: 3em;
}

h1 {
  font-family: 'Nanum Gothic';
  font-size: 6em;
  font-style: normal;
}

h2 {
  font-family: 'Spartan';
  font-size: 3em;
  font-style: normal;
}

.micro-title {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  margin-top: 0.4em;
  /* float: left; */
}

h3 {
  font-family: 'Nanum Gothic';
  font-size: 2em;
  font-style: normal;
}

h4 {
  font-family: 'Quicksand';
  color: #892bd6;
  font-size: 3em;
}

h5 {
  font-family: 'Quicksand';
  color: #7d00e4;
  font-size: 2em;
  margin-top: 2em;
}

h6 {
  font-family: 'Quicksand';
  color: white;
  font-size: 1.2em;
  margin: 1em 1em 1em 1em;
  text-align: justify;
}

.divider {
  color: #9e31f8;
}

.comment-section {
  border-radius: 1em;
  background-color: #7022af;
  margin: 1em;
  box-shadow: 0px 0px 50px black;
}

.post-counter {
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  margin: 0.5em;
  color: white;
}

.post-cout-svg {
  width: 5em;
}

.post-img {
  height: 22em;
  max-width: 95%;
  margin: 1em;
}

.post-card-part {
  margin: '5em';
  padding: '5em';
}

.artist-comment {
  font-family: 'Nanum Gothic';
  color: #000000;
  font-size: 1.2em;
  text-align: right;
  margin: 0.3em;
}

.artist-comment-reply {
  font-family: 'Nanum Gothic';
  color: #000000;
  font-size: 1em;
  text-align: right;
  margin: 0.3em;
}

.text-comment {
  text-align: left;
  font-family: 'QuickSand';
  color: #1e0036;
  margin: 0.3em;
}

.big-card {
  background-color: #1e0036;
  max-width: 50%;
  border-color: #9e31f8;
  border-radius: 3em;
  border-width: 0.4em;
  border-style: solid;
  padding: 2em;
}

.g-border-btn {
  border-color: #35e6c8;
}

.g-border-btn:hover {
  background-color: #35e6c8;
}

.nav-spec {
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 0.2em;
  transition-duration: 500ms;
  border-width: 0.01em;
}


.nav-spec:hover {
  border-width: 0.1em;
  padding: 0.7em;
  margin-top: 0em;
  border-radius: 2em;
  color: #272727;
}

.p-border-btn {
  border-color: #dd2ac5;
}

.p-border-btn:hover {
  background-color: #dd2ac5;
}

.m-submit-btn {
  background-color: rgb(190, 20, 206);
  padding: 1em;
  border-radius: 3em;
  width: 4em;
  height: 4em;
  border-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
